# Backup files...
*~
*.bak

# Eclipse/PyDev stuff...
.checkstyle
.project
.pydevproject
*.iml
.settings/

# Mac OS X stuff...
.DS_Store

# Maven Wrapper #
!.mvn/wrapper/maven-wrapper.jar

# Sublime stuff...
*.sublime-project
*.sublime-workspace

# Ruby
.bundle/
vendor/
