<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <interactiveMode>false</interactiveMode>
    <servers>
        <server>
            <id>bintray-cjscommonplatform-maven-releases</id>
            <username>${env.BINTRAY_USERNAME}</username>
            <password>${env.BINTRAY_API_KEY}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>bintray</id>
            <repositories>
                <repository>
                    <id>bintray-cjscommonplatform-maven-releases</id>
                    <name>bintray</name>
                    <url>http://dl.bintray.com/cjscommonplatform/maven-releases</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>bintray-cjscommonplatform-maven-releases</id>
                    <name>bintray-plugins</name>
                    <url>http://dl.bintray.com/cjscommonplatform/maven-releases</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>securecentral</id>
            <!--Override the repository (and pluginRepository) "central" from the Maven Super POM -->
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <!-- Use multiple profiles to ensure sonarcloud is only used on master builds and internal PRs. -->
        <profile>
            <id>sonar-travis-build-non-master</id>
            <activation>
                <property>
                    <name>env.TRAVIS_BUILD</name>
                    <value>!master</value>
                </property>
            </activation>
            <properties>
                <!-- branch is not master, skip -->
                <sonar.skip>true</sonar.skip>
            </properties>
        </profile>
        <profile>
            <id>sonar-travis-build-external</id>
            <activation>
                <property>
                    <name>env.TRAVIS_SECURE_ENV_VARS</name>
                    <value>!true</value>
                </property>
            </activation>
            <properties>
                <!-- external if there are no secure environment variables -->
                <sonar.skip>true</sonar.skip>
            </properties>
        </profile>
        <profile>
            <id>sonar-travis-build-PR</id>
            <activation>
                <property>
                    <name>env.TRAVIS_PULL_REQUEST</name>
                    <value>!false</value>
                </property>
            </activation>
            <properties>
                <!-- PR? preview mode only -->
                <sonar.analysis.mode>preview</sonar.analysis.mode>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>bintray</activeProfile>
        <activeProfile>securecentral</activeProfile>
    </activeProfiles>
</settings>
