<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <interactiveMode>false</interactiveMode>
    <servers>
        <!-- for cloudsmith -->
        <server>
            <id>cjscommonplatform-maven-repository</id>
            <username>token</username>
            <password>${env.CLOUDSMITH_API_KEY}</password>
            <configuration>
                <httpConfiguration>
                    <all>
                        <connectionTimeout>20000</connectionTimeout> <!-- 20 seconds -->
                        <readTimeout>120000</readTimeout> <!-- 120 seconds -->
                    </all>
                </httpConfiguration>
            </configuration>
        </server>
        <server>
            <id>securecentral</id>
            <username>admin</username>
            <password>70874856-244a-4140-a39a-ba857458488f</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>jitpack.io</id>
            <repositories>
                <repository>
                    <id>jitpack.io</id>
                    <url>https://jitpack.io</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>jitpack.io</id>
                    <url>https://jitpack.io</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>securecentral</id>
            <!--Override the repository (and pluginRepository) "central" from the Maven Super POM -->
            <repositories>
                <repository>
                    <id>securecentral</id>
                    <url>https://libraries-internal.mdv.cpp.nonlive/artifactory/repocentral</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>securecentral</id>
                    <url>https://libraries-internal.mdv.cpp.nonlive/artifactory/repocentral</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>cloudsmith</id>
            <repositories>
                <repository>
                    <id>cjscommonplatform-maven-repository</id>
                    <url>https://dl.cloudsmith.io/public/cjscommonplatform/maven-repository/maven</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>cjscommonplatform-maven-repository</id>
                    <url>https://dl.cloudsmith.io/public/cjscommonplatform/maven-repository/maven</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>sonar-travis-skip</id>
            <activation>
                <property>
                    <name>env.SONARQUBE_SKIPPED</name>
                    <value>true</value>
                </property>
            </activation>
            <properties>
                <!-- skip as requested by sonarcloud addon -->
                <sonar.skip>true</sonar.skip>
            </properties>
        </profile>
        <profile>
            <id>sonar-travis-PR</id>
            <activation>
                <property>
                    <name>env.TRAVIS_PULL_REQUEST</name>
                    <value>!false</value>
                </property>
            </activation>
            <properties>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>cloudsmith</activeProfile>
        <activeProfile>jitpack.io</activeProfile>
        <activeProfile>securecentral</activeProfile>
    </activeProfiles>
</settings>
